<div class="so-notification clearfix" *ngIf="displaying" [ngClass]="{ 'so-notification--success': type === 'success', 'so-notification--warning': type === 'warning', 'so-notification--error': type === 'error'}">
	<div class="so-notification--icon clearfix">
		<i class="fas fa-thumbs-up" *ngIf="type !== 'warning' || type !== 'error'"></i>
		
		<i class="fas fa-exclamation" *ngIf="type === 'warning' || type === 'error'"></i>
	</div>
	
	<div class="so-notification--message clearfix">
		{{message}}
	</div>
	
	<div class="so-notification--close clearfix" (click)="closeAlert()">
		<i class="fas fa-times"></i>
	</div>
</div>