.so-shadow--1 {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.so-shadow--2 {
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.1);
}

.so-shadow--3 {
	box-shadow: 0 9px 10px 0 rgba(0,0,0,0.1);
}

.so-shadow--4 {
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}

.so-shadow--5 {
	box-shadow: 0 30px 30px 0 rgba(0,0,0,0.1);
}

.so-shadow--6 {
	box-shadow: 0 50px 50px 0 rgba(0,0,0,0.1);
}